@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;

}


button {
    align-self: center;
    justify-self: center;
    padding: 20px 45px;
    background-color: rgb(204, 85, 71);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}